:root {
    --main-color: #3e4284;
    --main-color-light: #6369d2;
    --quickreply-font-color: white;
    --bubble-font-color: white;
}

body {
    background-color: transparent !important;
}

#app {
    padding: 0 !important;
    position: inherit;
    background-color: transparent !important;
    height: calc(100% - 57px) !important;
}

#thread {
    height: 100%;
    margin-bottom: 20px;
}

#blip-chat-header,
.blip-application-loading-container,
.blip-application-loading-container ~ #message-input,
.blip-card-photo,
.notification {
    display: none !important;
}

#message-input {
    height: auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin: 0 24px !important;
    width: calc(100% - 48px) !important;
}

#message-input textarea::placeholder {
    color: white;
}

#message-input textarea {
    height: 25px;
    font-size: 20px;
    display: block;
    overflow-y: hidden;
    background-color: transparent !important;
    color: white !important;
}

#blip-send-message {
    background-color: var(--main-color) !important;
}

.blip-card .bubble.right {
    background-color: var(--main-color) !important;
    color: var(--bubble-font-color) !important;
}

.blip-card .bubble.left {
    color: black;
    text-align: left;
}

.select .options li {
    background-color: var(--main-color-light) !important;
    color: var(--quickreply-font-color) !important;
    border-color: var(--main-color) !important;
}

.blip-card-container,
.blip-container--with-photo {
    margin-left: 0 !important;
}

.blip-container {
    margin-bottom: 5px !important;
}

.blip-cards-items-list {
    padding: 0 !important;
}

.select .prev {
    left: 0 !important;
}

.select .next {
    right: 0 !important;
}

.ss-scroll {
    display: none;
}

.ss-content {
    margin: 16px !important;
    width: calc(100% - 24px) !important;
}

.ss-content::-webkit-scrollbar {
    display: none;
}

.ss-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select .slideshow-container {
    overflow: hidden !important;
}

.item-list {
    padding: 0 30px !important;
}

.collection .next {
    right: 35px !important;
}

@media (max-width: 500px) {

    #message-input textarea {
        font-size: 14px;
    }

    #message-input {
        position: fixed;
        bottom: 0;
    }

    .blip-cards-items-list {
        overflow: visible;
    }

}

@media (max-width: 460px) {

    .select .prev {
        left: -16px !important;
    }

    .select .next {
        right: -16px !important;
    }

    .ss-content {
        width: 100% !important;
    }

    #message-input {
        margin: 0 16px !important;
        width: calc(100% - 32px) !important;
    }

}